* {
  font-family: 'Arial';
}

.main-container {
  margin-left: 200px;
  margin-right: 200px;
}

.info-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.table_dark {
  font-size: 14px;
  width: 640px;
  text-align: left;
  border-collapse: collapse;
  margin: 10px;
}
.table_dark tr {
  border-bottom:1px solid darkgray;
}

.table_dark th {
  padding: 12px 17px;
}
.table_dark td {
  padding: 7px 17px;
}
.table_dark tr:last-child td {
  border-bottom: none;
}
.table_dark td:last-child {
  border-right: none;
}
.table_dark tr:hover td {
  text-decoration: underline;
}

.buttonPlus {
  color: darkgray;
  background: none;
  border: none;
  cursor: pointer;
}

.buttonPlus:hover {
  color: black;
}

.title {
  color: darkgray;
}

.title:hover {
  color: black;
}

.document-container {
  display: flex;
  justify-content: space-between;
}

.document {
  width: 200px;
  font-size: x-small;
  display: flex;
}

.document a {
  text-decoration: none;
  color: darkgray;
}

.document :hover {
 color: darkgreen;
}

.document a:hover {
  color: darkgreen;
}

.pdfLogo {
  width: 40px;
  height: 40px;
}

.show {
  display: block;
}

.close {
  display: none;
}
