.null {
    height: 160px;
}
.photoContainer {
    /* position: absolute; */
    background: url('../../../public/kartinka.png');
    height: 600px;
}
  .photo {
    width: 100%;
    /* height: 100%;  */
  }

  .photoText {
    margin-bottom: 50px;
    padding-top: 265px;
    padding-left: 210px;
    margin-left: 100;
    display: flex;
    font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 55px;

/* Белый */

color: #FFFFFF;
}

.button1 {
    display: flex;
    margin: 10px;
    margin-top: 55px;
    margin-left: 226px;
    padding-left: 100px;
    border-radius: 30px;
    border: 10px solid rgb(70, 171, 74) ;
    background:rgb(70, 171, 74);
    padding-left: 25px;
    padding-right: 25px;
    font-size:medium;
    color:rgb(253, 253, 253);
    font-variant:all-small-caps;
    cursor: pointer;
}

.bottomText2 {
    /* position: relative; */
    /* right: -100px; */
    border-bottom: 2px solid rgb(94, 94, 94);
    /* right: -100px; */
     font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 40px;
color: #000000;
}

.bottomContainer {
/* position: absolute; */
display: flex;
align-items:flex-end;
justify-content: space-between;
flex-direction: row;
border-bottom: 2px solid rgb(94, 94, 94);
}

.bottomText1 {
     /* position: relative; */
     /* right: -100px; */
     font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 40px;
color: #000000;

    
}

.data {
    margin-bottom: 1%;
    /* bottom: -335px; */
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    
}

.celiContainer {
    display: flex;
align-items:flex-end;
justify-content: space-between;
flex-direction: row;
border-bottom: 2px solid rgb(94, 94, 94);
}

.celi {
    /* position: relative; */
     /* right: -100px; */
    font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 18px;
padding-bottom: 50px;
}

.celiText {
    /* position: absolute;
    bottom: -400px;
    left: 630px; */
    margin: 10px;
    font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;

/* Темно-серый */

color: #474747;
    
}

.zadachiContainer {
    display: flex;
align-items:flex-end;
justify-content: space-between;
flex-direction: row;
border-bottom: 2px solid rgb(94, 94, 94);
}

.zadachi {
    /* position: relative; */
    /* right: -100px; */
   font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 18px;
padding-bottom: 50px;

/* Черный */

color: #000000;
}

.zadachiText {
    /* position: absolute;
    bottom: -400px;
    left: 630px; */
    margin: 10px;
    font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;

/* Темно-серый */

color: #474747;
}

.container1 {
    margin: 10%;
}



.kak {
    display: flex;
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 7%;
    font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 40px;

/* Черный */

color: #000000;
}

.container3 {
    margin: 10%;
    margin-top: -5%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.bloksize {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 20px;
    width: 310px;
    height: 175px;
    display: flex;
    padding: 10px;
    
}

.blok1 {
    margin: 5px;
    /* box-sizing: border-box; */
    /* padding: 40px 15px 55px;
    gap: 10px; */
    background: #FFFFFF;
    border: 2px solid #949494;
    
}

.blok1Text {
    font-family: 'Arial';
font-style: normal;
color: #474747;
font-size: 20px;
margin-bottom: 5px;
    
}

.nums {
    display: flex;
    margin-bottom: 5px;
   
}

.blok1num {

    font-family: 'Arial';
font-style: normal;
color: #000000;
font-size: 20px;
}

.blok2 {
    margin: 5px;
    /* box-sizing: border-box;
    padding: 40px 15px 55px;
    gap: 10px; */
    background: #FFFFFF;
    border: 2px solid #949494;
}
.blok2Text {
    font-family: 'Arial';
font-style: normal;
color: #474747;
font-size: 20px;
margin-bottom: 5px;

}
.blok2num {
    font-family: 'Arial';
font-style: normal;
color: #000000;
font-size: 20px;
}

.blok3 {
    margin: 5px;
    /* box-sizing: border-box;
    padding: 40px 15px 55px;
    gap: 10px; */
    background: #FFFFFF;
    border: 2px solid #949494;
    font-size: 20px;
}

.blok3Text {
    font-family: 'Arial';
    font-style: normal;
    color: #474747;
}

.blok3num {
    font-family: 'Arial';
font-style: normal;
color: #000000;
font-size: 20px;
}

.blok4 {
    margin: 5px;
    /* box-sizing: border-box;
    padding: 40px 15px 55px;
    gap: 10px; */
    background: #FFFFFF;
    border: 2px solid #949494;
    
}

.blok4Text {
    font-family: 'Arial';
    font-style: normal;
    color: #474747;
    font-size: 20px;
}

.blok4num {
    font-family: 'Arial';
font-style: normal;
color: #000000;
font-size: 20px;

}

.container4 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
}

.firstText {
    font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 40px;
color: #000000;
}

.firstText2 {
    font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
color: #000000;
}

.carousel-control-prev {
    color: #000000;

}

.carousel{
    display: flex;
    margin-left: 320px;
    margin-bottom: 5%;
    height: 580px;
    width: 1250px;
   }
    
/* Стили формы записи на мероприятие */
.form-container-main {
    width: 100%;
    margin: auto;
    padding-left: 198px;
    display: flex;
    justify-content: center;
    background-color: rgb(194,237,201);
    
}

.form-container {
    min-width: 800px;
}

.form-container h1 {
    width: 550px;
    text-transform: uppercase;
    padding-top: 68px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
}

.form-entry {
    width: 550px;
    display: flex;
    flex-direction: column;
}

.form-input {
    width: 550px;
    padding: 20px 0 20px 0;
    font-family: inherit;
    font-size: 1rem;
    background-color: rgba(240, 248, 255, 0);
    border: none;
    border-bottom: 2px solid #474747;
}

.form-input:focus {
    font-size: large;
    color: #212529;
    background-color: rgba(255, 255, 255, 0);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
  }

.check-container {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    color: #474747;
}
.checkbox-input {
    background-color: rgba(12, 127, 227, 0.848);
}



.personal-data-text {
    color: #000000;
}
.sendFormButton{
    margin-top: 30px;
    width: 200px;
    border-radius: 30px;
    padding: 13px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #46AB4A;
    color: #FFFFFF;
    border: 0;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.disabled {
    cursor: not-allowed;;
}

.form-picture-container {
    min-width: 800px;
}

.form-picture {
    width: 100%;
}

.thankyou {
    min-width: 800px;
    padding-top: 68px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    
}

.thankyou h1 {
    color: #474747;

} 

.thankyou p {
    font-family: 'Arial';
    padding-top: 30px;
    width: 450px;
    font-size: 20px;
    color: #949494;;
}

.closedBlock {
display: none;
}