.null {
    height: 160px;
}
.photoContainer {
    /* position: absolute; */
    background: url('../../../public/kartinka.png');
    height: 600px;
}
  .photo {
    width: 100%;
    /* height: 100%;  */
  }

  .photoText {
    margin-bottom: 50px;
    padding-top: 265px;
    padding-left: 210px;
    margin-left: 100;
    display: flex;
    font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 55px;

/* Белый */

color: #FFFFFF;
}

.button1 {
    display: flex;
    margin: 10px;
    margin-top: 70px;
    margin-left: 226px;
    padding-left: 100px;
    border-radius: 30px;
    border: 10px solid rgb(70, 171, 74) ;
    background:rgb(70, 171, 74);
    padding-left: 25px;
    padding-right: 25px;
    font-size:medium;
    color:rgb(253, 253, 253);
    font-variant:all-small-caps;
    cursor: pointer;
}

.bottomText2 {
    /* position: relative; */
    /* right: -100px; */
    border-bottom: 2px solid rgb(94, 94, 94);
    /* right: -100px; */
     font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 40px;
color: #000000;
}

.bottomContainer {
/* position: absolute; */
display: flex;
align-items:flex-end;
justify-content: space-between;
flex-direction: row;
border-bottom: 2px solid rgb(94, 94, 94);
}

.bottomText1 {
     /* position: relative; */
     /* right: -100px; */
     font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 40px;
color: #000000;

    
}

.data {
    margin-bottom: 1%;
    /* bottom: -335px; */
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    
}

.celiContainer {
    display: flex;
align-items:flex-end;
justify-content: space-between;
flex-direction: row;
border-bottom: 2px solid rgb(94, 94, 94);
}

.celi {
    /* position: relative; */
     /* right: -100px; */
    font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 18px;
padding-bottom: 50px;
}

.celiText {
    /* position: absolute;
    bottom: -400px;
    left: 630px; */
    margin: 10px;
    font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;

/* Темно-серый */

color: #474747;
    
}

.zadachiContainer {
    display: flex;
align-items:flex-end;
justify-content: space-between;
flex-direction: row;
border-bottom: 2px solid rgb(94, 94, 94);
}

.zadachi {
    /* position: relative; */
    /* right: -100px; */
   font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 18px;
padding-bottom: 50px;

/* Черный */

color: #000000;
}

.zadachiText {
    /* position: absolute;
    bottom: -400px;
    left: 630px; */
    margin: 10px;
    font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;

/* Темно-серый */

color: #474747;
}

.container1 {
    margin: 10%;
}



.kak {
    display: flex;
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 5%;
    font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 40px;

/* Черный */

color: #000000;
}

.container3 {
    margin: 10%;
    margin-top: -5%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.bloksize {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 20px;
    width: 310px;
    height: 150px;
    display: flex;
    padding: 10px;
    
}

.blok1 {
    margin: 5px;
    /* box-sizing: border-box; */
    /* padding: 40px 15px 55px;
    gap: 10px; */
    background: #FFFFFF;
    border: 2px solid #949494;
    
}

.blok1Text {
    font-family: 'Arial';
    font-style: normal;
    color: #474747;
    font-size: 20px;
    margin-bottom: 25px;
    
}

.nums {
    display: flex;
    margin-bottom: 5px;
   
}

.blok1num {

    font-family: 'Arial';
font-style: normal;
color: #000000;
font-size: 20px;
}

.blok2 {
    margin: 5px;
    /* box-sizing: border-box;
    padding: 40px 15px 55px;
    gap: 10px; */
    background: #FFFFFF;
    border: 2px solid #949494;
}
.blok2Text {
    font-family: 'Arial';
font-style: normal;
color: #474747;
font-size: 20px;
margin-bottom: 25px;

}
.blok2num {
    font-family: 'Arial';
font-style: normal;
color: #000000;
font-size: 20px;
}

.blok3 {
    margin: 5px;
    /* box-sizing: border-box;
    padding: 40px 15px 55px;
    gap: 10px; */
    background: #FFFFFF;
    border: 2px solid #949494;
    font-size: 20px;
}

.blok3Text {
    font-family: 'Arial';
    font-style: normal;
    color: #474747;
}

.blok3num {
    font-family: 'Arial';
font-style: normal;
color: #000000;
font-size: 20px;
}

.blok4 {
    margin: 5px;
    /* box-sizing: border-box;
    padding: 40px 15px 55px;
    gap: 10px; */
    background: #FFFFFF;
    border: 2px solid #949494;
    
}

.blok4Text {
    font-family: 'Arial';
    font-style: normal;
    color: #474747;
    font-size: 20px;
}

.blok4num {
    font-family: 'Arial';
font-style: normal;
color: #000000;
font-size: 20px;

}

.container4 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 10%;
}

.firstText {
    font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 40px;
color: #000000;
}

.firstText2 {
    font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
color: #000000;
}

