.photo2 {
    height: 100%;
    display: flex;
    margin-left: auto;
    width: 50%;
    }


.photoPlustext {
    display: flex;
    width: 100%;

}

.photoText2 {
    width: 50%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}