* {
  margin: 0;
  padding: 0;
  font-family: 'Arial';
}



.headerAboutus  {
  background: url(../../../public/rainbow.jpg) no-repeat ;
  width: 1600px;
  height: 700px;
}

.header-text {
  color: white;

  width: 462px;
  padding-left: 197px;
  padding-top: 466px;
}

.text-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding-left: 197px;
  padding-right: 197px;
  padding-bottom: 30px;
}

.text-container p {
  color: #474747;
}

 .text-container h1 {
  min-width: 402px;
 }

 .car {
  background: url(../../../public/car.jpg) no-repeat;
  width: 100%;
  height: 600px;
}

.wrapped {
  display: flex;
  justify-content: space-between;
}


 .buttonGroup {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
 }

.greenButton {
  border-radius: 30px;
  padding: 13px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #46AB4A;
  color: #FFFFFF;
  border: 0;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.04em;
  cursor: pointer;
}