* {
    padding: 0%;
    margin: 0%;
    box-sizing: unset;
}

*, ::after, ::before {
    box-sizing: unset;
}

a:hover{
    color: none;
}

#linkFirstFirst {
    display: none;
}

.topnav {
    display: flex;
    width: 100%;
    position: absolute;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    }
  
  .topnav a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
  }
  
  .topnav a:hover {
    font-weight: bolder;
  }
  
  .topnav a.active {
    color: #FFFFFF;
  }
  
  .topnav .icon {
    display: none;
    margin: 15px;
  }

  #dropdown-menu{
    background-color: unset;
    margin-right: 15px;
    border: 0;
  }

  #dropdown-item {
    color: #FFFFFF;
  }
  
  .navbar1 {
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
}

  @media (min-width: 1000px) {
    #linkFirst {
        display: none;
    }
    #MainPage {
        display: none;
    }
  }
  
  @media screen and (max-width: 999px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav button:not(:first-child) {display: none;}
    .topnav a.icon {
      display: flex;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  
  @media screen and (max-width: 999px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    
    .topnav.responsive a {
        background-color: #46AB4A;
        float: none;
        display: flex;
        justify-content: center;
        /* padding: 12px; */
    }

    .topnav.responsive button {
        background-color: #46AB4A;
        float: none;
        display: flex;
        width: 100%;
        justify-content: center;
        /* padding: 12px; */
        border: 0;
        color: #FFFFFF;
    }
  }

@media (min-width: 1600px) {

    .blockToggle {
        position: relative;
        display: inline-block;
        flex-direction: column;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;
    }

    .dropdown:active .dropdown-content {
        display: block;
    }

    .navBlocksManyLink {
        display: none;
        flex-direction: column;
    }

    .showBlockBtn {
        color: #FFFFFF;
        border: 0;
        background-color: transparent;
    }

    .navbar1 {
        padding: 0%;
        align-items: center;
        justify-content: center;
    }


    .link {
        text-decoration: none;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        width: 185px;
        padding: 10px;
    }

    
    .link:hover {
        font-weight: bolder;
        transition: 0.2s linear
    }
    
    .link:active {
        color: #46AB4A;
    }
    
    .nav {
        display: flex;
        margin: 1%;
        position: absolute;
        flex-direction: row;
        justify-items: center;
        width: 100%;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    
    .black a{
        color: #000000;
    }

    .black button {
        color: #000000;
    }
    
    .white a{
        color: #FFFFFF;
    }

    .white:hover a {
        color: #FFFFFF;
    }
    
    .white a:active{
        color: #46AB4A;
    }
    
    .authBtn {
        border-radius: 30px;
        padding: 13px;
        padding-left: 30px;
        padding-right: 30px;
        background-color: #46AB4A;
        color: #FFFFFF;
        border: 0;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.04em;
        cursor: pointer;
        border: 2.5px solid #46AB4A;
        transition: 1s;
    }

    .authBtn:hover {
        background-color: #FFFFFF;
        color: #46AB4A;
        transition: 1s;
    }
    
    .circle1 {
        margin-left: 5px;
        width: 10px;
        height: 10px;
        background-color: #FFFFFF;
        border-radius: 20px;
    }
    
    .circle1:hover {
        font-weight: bolder;
    }
    
    .circle1:active {
        background-color: #46AB4A;
    }
    
    
    .link-circle {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
    }
}

@media (min-width: 1000px) and (max-width: 1599px) {

    .blockToggle {
        position: relative;
        display: inline-block;
        flex-direction: column;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;
    }

    .dropdown:active .dropdown-content {
        display: block;
    }

    .navBlocksManyLink {
        display: none;
        flex-direction: column;
    }

    .showBlockBtn {
        color: #FFFFFF;
        border: 0;
        background-color: transparent;
    }

    .navbar1 {
        padding: 1%;
        align-items: center;
        justify-content: center;
    }

    .link {
        text-decoration: none;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        margin-right: 20px;
        padding: 10px;
        padding-left: 3px;
        padding-right: 3px;
    }
    
    .link:hover {
        font-weight: bolder;
        transition: 0.2s linear
    }
    
    .link:active {
        color: #46AB4A;
    }
    
    .nav {
        display: flex;
        position: absolute;
        flex-direction: row;
        justify-items: center;
        width: 100%;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    
    .black a{
        color: #000000;
    }

    .black button {
        color: #000000;
    }
    
    .white a{
        color: #FFFFFF;
    }
    
    .white a:active{
        color: #46AB4A;
    }
    
    .authBtn {
        border-radius: 30px;
        padding: 13px;
        padding-left: 30px;
        padding-right: 30px;
        background-color: #46AB4A;
        color: #FFFFFF;
        border: 0;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.04em;
        cursor: pointer;
        border: 2.5px solid #46AB4A;
        transition: 1s;
    }

    .authBtn:hover {
        background-color: #FFFFFF;
        color: #46AB4A;
        transition: 1s;
    }
    
    .circle1 {
        margin-left: 5px;
        width: 10px;
        height: 10px;
        background-color: #FFFFFF;
        border-radius: 20px;
    }
    
    .circle1:hover {
        font-weight: bolder;
    }
    
    .circle1:active {
        background-color: #46AB4A;
    }
    
    .link-circle {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
    }
}

@media (min-width: 640px ) and (max-width: 999px) {

    .navbar1 {
        flex-wrap: wrap;
    }

    .navBlocksManyLink {
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .blockToggle {
        width: 100%;
    }
    
    .link {
        display: none;
        text-decoration: none;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 40px;
        padding: 10px;
        margin: -1px;
        width: 100%;
    }
    
        .linksBlocks {
            font-weight: 400;
            font-size: 26px;
            line-height: 30px;
        }
    
    #linkFirstSecond {
        display: none;
    }

    #showBlockLink {
        display: none;
    }

    #linkFirst {
        width: unset;
    }
    
    .link:hover {
        font-weight: bolder;
        transition: 0.2s linear
    }
    
    .link:active {
        color: #FFFFFF;
    }
    
    .nav {
        display: flex;
        position: absolute;
        flex-direction: row;
        justify-items: center;
        width: 100%;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    
    .black a{
        color: #000000;
    }
    .black button {
        color: #000000;
    }
    
    .white a{
        color: #FFFFFF;
    }
    
    .white a:active{
        color: #FFFFFF;
    }
    
    .authBtn {
        display: none;
        border-radius: 30px;
        padding: 13px;
        padding-left: 30px;
        padding-right: 30px;
        background-color: #46AB4A;
        color: #FFFFFF;
        border: 0;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.04em;
        cursor: pointer;
        border: 2.5px solid #46AB4A;
        transition: 1s;
    }

    .authBtn:hover {
        background-color: #FFFFFF;
        color: #46AB4A;
        transition: 1s;
    }
    
    .circle1 {
        margin-left: 5px;
        width: 10px;
        height: 10px;
        background-color: #FFFFFF;
        border-radius: 20px;
    }
    
    .circle1:hover {
        font-weight: bolder;
    }
    
    .circle1:active {
        background-color: #46AB4A;
    }
    
    .link-circle {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
    }
}

@media (min-width: 320px ) and (max-width: 639px) {

    .navbar1{
        width: 100%;
        z-index: 100;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .blockToggle {
        width: 100%;
    }
    
    .link {
        display: none;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 30px;
        width: 100%;
        padding: 10px;
        margin: -1px;
    }

    .linksBlocks {
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
    }

    .navBlocksManyLink {
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    #linkFirstSecond {
        display: none;
    }

    #showBlockLink {
        display: none;
    }

    #linkFirst {
        width: unset;
    }
    
    .link:hover {
        font-weight: bolder;
        transition: 0.2s linear
    }
    
    .link:active {
        color: #FFFFFF;
    }
    
    .nav {
        display: flex;
        position: absolute;
        flex-direction: row;
        justify-items: center;
        width: 100%;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    
    .black a{
        color: #000000;
    }

    .black button {
        color: #000000;
    }
    
    .white a{
        color: #FFFFFF;
    }
    
    .white a:active{
        color: #FFFFFF;
    }
    
    .authBtn {
        display: none;
        border-radius: 30px;
        padding: 13px;
        padding-left: 30px;
        padding-right: 30px;
        background-color: #46AB4A;
        color: #FFFFFF;
        border: 0;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.04em;
        cursor: pointer;
        border: 2.5px solid #46AB4A;
        transition: 1s;
    }

    .authBtn:hover {
        background-color: #FFFFFF;
        color: #46AB4A;
        transition: 1s;
    }
    
    .circle1 {
        margin-left: 5px;
        width: 10px;
        height: 10px;
        background-color: #FFFFFF;
        border-radius: 20px;
    }
    
    .circle1:hover {
        font-weight: bolder;
    }
    
    .circle1:active {
        background-color: #46AB4A;
    }
    
    .link-circle {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
    }
}